<li id="comment_<%=comment.id %>">
  <%= comment.content %>,
  <%= time_ago_in_words(comment.created_at) %> ago
  <%= comment.user.name %>
  <%= link_to "x", [comment.event, comment], method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
</li>
