<% if @comment.errors.size == 0 %>
  $('<%=j render @comment %>').appendTo($("#comments_list_<%=@event.id %>")).hide().fadeIn('fast');
  $("#comments_form_<%=@event.id %> form")[0].reset();
<% else %>
  alert("Please submit after commenting...");
<% end %>