<h2>저 아름다운 땀방울을 보라</h2>

<br>

<%= link_to "사진 추가", new_event_path, class: "btn btn-default" %>

<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th>우리들의 이야기</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to image_tag(event.picture), event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

