<h2>
	<strong><%= @event.title %></strong>: <%= @event.content %>
</h2>

<div class="row">
	<div class="col-sm-6">
		<p>
			<%= image_tag(@event.picture) %>
		</p>
		<p>
			<strong><%= @event.user.name %></strong>
		</p>
		<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-default' %>
		<%= link_to 'Destroy', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
		<%= link_to 'Back', events_path, class: 'btn btn-default' %>
	</div>

	<div class="col-sm-6">
		<%= render "comments/comments" %>
	</div>
<hr>
</div>
